# Supabase Configuration
# يرجى نسخ هذا الملف وتسميته .env وملء البيانات التالية
VITE_SUPABASE_URL=https://vcqyqgnvhknsduvmptbv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZjcXlxZ252aGtuc2R1dm1wdGJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMDI4MzQsImV4cCI6MjA4OTY3ODgzNH0.4j7KxfuiClQpxU0myCP-s2qIkGyvvM4Xd9GXUPONwC0
